node_modules
.git
.github
.env
.env.*
!.env.example
dist
*.log
*.md
docs
deploy
.vscode
.idea
playwright-report
test-results
apps/contracts-evm/artifacts
apps/contracts-evm/cache
apps/contracts-evm/typechain-types
